<% content_for :body_class, 'signup-page' %>
<% content_for :nav_class, 'navbar navbar-transparent navbar-absolute' %>

<div class="header header-filter" style="background-image: url(<%= asset_path 'city.jpg' %>); background-size: cover; background-position: top center;">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
        <div class="card card-signup">
          <%= form_tag login_url, class: 'form', id: 'login-form' do %>
            <div class="header header-primary text-center">
              <h4>Sign in to Bloggrails</h4>
              <!--<div class="social-line">-->
              <!--<a href="#pablo" class="btn btn-simple btn-just-icon">-->
              <!--<i class="fa fa-facebook-square"></i>-->
              <!--</a>-->
              <!--<a href="#pablo" class="btn btn-simple btn-just-icon">-->
              <!--<i class="fa fa-twitter"></i>-->
              <!--</a>-->
              <!--<a href="#pablo" class="btn btn-simple btn-just-icon">-->
              <!--<i class="fa fa-google-plus"></i>-->
              <!--</a>-->
              <!--</div>-->
            </div>
            <!--<p class="text-divider">Or Be Classical</p>-->
            <% if flash[:error] %>
              <div class="alert alert-danger">
                <div class="container-fluid">
                  <div class="alert-icon">
                    <i class="material-icons">error_outline</i>
                  </div>
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true"><i class="material-icons">clear</i></span>
                  </button>
                  <%= flash[:error] %>
                </div>
              </div>
            <% end %>
            <div class="content">
              <div class="input-group">
										<span class="input-group-addon">
											<i class="material-icons">account_box</i>
										</span>
                <%= text_field_tag :login, params[:login], class: 'form-control', placeholder: 'Email or username...' %>
              </div>
              <div class="input-group">
										<span class="input-group-addon">
											<i class="material-icons">lock_outline</i>
										</span>
                <%= password_field_tag :password, nil, class: 'form-control', placeholder: 'Password...' %>
              </div>
              <%= hidden_field_tag :return_to, request.GET[:return_to] %>
            </div>
            <div class=" text-center">
              <%= button_tag 'Login', class: 'btn btn-simple btn-primary btn-lg g-recaptcha',
                             data: {
                               sitekey: Rails.application.secrets.recaptcha_site_key,
                               callback: 'submitLoginForm'
                             }
              %>
              <br>
              <%# link_to 'Forget password?', password_reset_path, class: 'btn btn-simple btn-link btn-sm' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <%= render 'layouts/footer' %>
</div>
