<%= content_for :article_header do %>
  <div class="header header-filter big-header" style="background-image: url('http://demos.creative-tim.com/material-kit-pro/assets/img/bg10.jpg');">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h2 class="title title-header text-center">Power is gained from sharing knowledge, not hoarding it.</h2>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= render 'articles/layout' do %>
  <% @articles.each do |article| %>
    <div class="article">
      <h3 class="article-title">
        <%= link_to article.title, article %>
      </h3>
      <p class="article-content">
        <%= truncate(article.text, length: 345) { link_to 'Read More', article } %>
      </p>
      <p class="article-author">
        by <a href="#"><%= article.user.username %></a>, <%= time_ago_in_words article.created_at %> ago
      </p>
    </div>
  <% end %>
<% end %>
