<%= render 'articles/header',
           header_class: '',
           header_image: 'http://demos.creative-tim.com/material-kit-pro/assets/img/bg10.jpg',
           header_title: 'The more we share, the more we have.' %>

<%= render 'articles/layout', content_class: 'col-md-8 col-lg-offset-2' do %>
  <h2 class="title">Write an article</h2>
  <p class="description">Any topic you share, we always appreciate it.</p>
  <%= form_with model: @article, class: 'article-form' do |f| %>
    <%= render 'layouts/error', data: @article %>
    <%= f.hidden_field :user_id %>
    <div class="form-group label-floating">
      <%= f.label :title, class: 'control-label' %>
      <%= f.text_field :title, class: 'form-control' %>
    </div>
    <div class="form-group label-floating">
      <%= f.label :text, class: 'control-label' %>
      <%= f.text_area :text, class: 'form-control', rows: 15 %>
    </div>
    <div>
      <%= f.label :image %>
      <%= f.hidden_field :image_cache %>
      <%= f.file_field :image, accept: 'image/png,image/gif,image/jpeg' %>
    </div>
    <%= f.button 'Create article', class: 'btn btn-primary pull-right' %>
  <% end %>
<% end %>
